In [ ]:
import pandas as pd
movies = pd.read_excel('movies.xlsx')

movies

In [ ]:
movies.sort_values(('Runtime'), ascending=False)

In [ ]:
movies[0:4]

In [ ]:
movies.shape

In [ ]:
movies.dtypes

In [ ]:
my_list = movies.columns.values.tolist()
my_list

In [ ]:
movies.columns

In [ ]:
# Find missing data in 'Age' column.
movies['Age'].isnull().sum()

In [ ]:
# Replace the missing values in Age column with a set value
movies['Age'][movies['Age'].isna()] = 'Others'

In [ ]:
# Replace the missing values in the directors, genres, country and language with others
movies['Directors'][movies['Directors'].isna()] = "Others"

movies['Genres'][movies['Genres'].isna()] = "Others"

movies['Country'][movies['Country'].isna()] = "Others"

movies['Language'][movies['Language'].isna()] = "Others"

# View the DataFrame
movies

In [ ]:
# Missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

In [ ]:
# Replace missing values with mean
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

In [ ]:
# View the missing values for IMDb and Rotten Tomatoes
print(movies['IMDb'].isnull().sum())

print(movies['Rotten Tomatoes'].isnull().sum())

In [ ]:
# Import the ott data set.
ott = pd.read_csv('ott.csv')

# View the DataFrame.
ott.head()

In [ ]:
# Validate the data types.
print(movies.dtypes)
print(ott.dtypes)

In [ ]:
# Determine the column names.
print(list(movies.columns))
print(list(ott.columns))

In [ ]:
# Filter the DataFrame according to numeric variables.
movies_num = movies.select_dtypes('number')


movies_num 
# = movies_num.drop('Year', axis = 1)

In [ ]:
movies_num = movies_num.drop('Year', axis = 1)
movies_num

In [ ]:
# Calculate Q1 and Q3.
Q1 = movies_num.quantile(0.25)
Q3 = movies_num.quantile(0.75)

# View the output
print(Q1)
print(Q3)

In [ ]:
# Calculate the IQR.
IQR = Q3 - Q1

# View the output.
print(IQR)

In [ ]:
# Determine the descriptive statistics.
movies_num.describe()