### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics using Python

## Week 2: Getting started with Pandas demonstrations

The focus this week is on introducing, setting up, and exploring Pandas. You will use this Notebook to follow along with the demonstrations throughout the week.

Learn about using your Jupyter Notebook here: https://jupyter-notebook.readthedocs.io/en/latest/ui_components.html

This is your Notebook. Use it to follow along with the demonstrations, test ideas and explore what is possible. The hands-on experience of writing your own code will accelerate your learning!

### 2.1 Data ingestion with Pandas

In [ ]:
# import Pandas library
import pandas as pd

In [ ]:
# Create the variable colours.
# Pass an array of data.
colours = pd.Series(['green', 'red', 'yellow', 'blue', 'black', 'white'])

# Print the Series.
print(colours)

In [ ]:
# Create a list.
example_list = [1, 2, 3, 4, 5, 6]
  
# Create Series from a list.
numbers = pd.Series(example_list)

# Print the Series.
print(numbers)

In [ ]:
# Create a dictionary.
# Specify the dictionary as dict_1.
dict_1 = {'AU':'Australian Dollar',
          'US': 'US Dollar',
          'IN': 'Indian Rupee',
          'DK': 'Danish Krone',
          'SW': 'Swiss Franc'}

# Name and create the Series.
economics = pd.Series(dict_1)

# Print the Series.
print(economics)

In [ ]:
import pandas as pd
import numpy as np

# emergency nunbers with dictionary. Practical activity 3.
dict_1 = {'Law Enforcement':123,
         'Fire and Rescue Services':224,
          'Emergency Medical Services':101,
          'Emergency Management':999,
          'Public Works':900}
# put phone numbers in quotation mark if you need objects
# create Series
emergency_numbers = pd.Series(dict_1)

# emergency protocols
list_2 = ['prevention', 'mitigation', 'preparedness', 'response', 'recovery']

emergency_protocols = pd.Series((list_2),
                        index = ['1','2','3','4','5'])

# emergency checklist
list_3 = ['Check carotid pulse (neck)', 
          'Check breathing (nose)',
          'Check for obstructions (nose, ears, mouth)',
          'Check pupils (responsive)',
          'Consciousness',
          'Contact details',
          'Any allergies']

emergency_checklist = pd.Series(list_3)

print(emergency_numbers)
print(emergency_protocols)
print(emergency_checklist)

In [ ]:
# Import Pandas.
import pandas as pd

# Create an empty DataFrame.
df = pd.DataFrame()

# Create an empty Series.
ser = pd.Series()

# Print the DataFrame and Series.
print(df)
print(ser)

In [ ]:

name
countries
qualification
age

In [ ]:
# Create a dictionary.
data = {'Name': ['Thando', 'Divya', 'Simon', 'Peter'],
        'Country': ['South Africa', 'Singapore', 'United Kingdom', 'Australia'],
        'Qualification': ['Phd', 'Diploma', 'BSc', 'MBA'],
        'Age': [29, 20, 25, 23],}

# Create a DataFrame from the dictionary.
students = pd.DataFrame(data)

# Print the DataFrame.
students

In [ ]:
# Import Pandas.
import pandas as pd

# Create a dictionary.
data = {'name': ['Shen Lee', 'Leon Buhle', 'Tracy Adams', 'Lebo Sinuka', 'Lauren Pierce', 'Monika Bond',
                'Natahs Allsop', 'Nicholas Winter', 'Christopher Eckson', 'Siobhan O\'Malley'],
        'sick_leave': [10,8,10,9,7,10,9,10,8,5],
        'annual_leave': [23,20,15,19,21,21,10,15,16,23],
        'personal_leave': [5,4,5,0,5,2,5,4,2,5],
        'bonus': [3, 0, 0, 3, 3, 6, 0, 3, 6, 3],
        'total_taken': [0, 3, 5, 10, 5, 8, 11, 9, 15, 5],
        'total_available': [38, 32, 30, 28, 33, 33, 24, 29, 26, 33],
        'annual_total': [38, 35, 35, 38, 38, 41, 35, 38, 41, 38]}

# Assign row labels'
row_labels = [215, 216, 217, 218, 219, 220, 221, 222, 223, 224]

# Create a DataFrame.
employees = pd.DataFrame(data, columns = ['name','annual_leave','sick_leave','personal_leave',
                                          'total_taken','bonus','total_available','annual_total'],
                                         index = row_labels)

employees.index.name = 'Personnel_ID'

employees

In [ ]:
# Import pandas. This code only works if I put the CSV file in the same directory.
import pandas as pd

# Read the CSV file.
# Assign a variable.
# Use the pd.read_csv() function.
# Specify the name of the CSV file.
fitness = pd.read_csv('daily_activity.csv')

# Or, when no header or ; separator: fitness = pd.read_csv('daily_activity.csv', header=None, sep=';')             

# Print the DataFrame.
fitness

In [ ]:
# Read a TSV file (only for illustration purposes).
# df refers to the name of the DataFrame.

df = pd.read_csv('filename.txt', sep='\t')

df.head()

# Modifying the DataFrame.

In [ ]:
# Import the Pandas library. (For illustration purposes only)
import pandas as pd

# Read the CSV from the current working directory .
# Specify that there is no header in the data set using header=None.
fitness = pd.read_csv('daily_activity.csv', header=None)

# View the DataFrame.
fitness

In [ ]:
# Specify that header should be col_names (alphabetic letters). (For illustration purposes only)
col_names = ['a', 'b', 'c', 'd', 'e', 'f', 'g',
             'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

# Read the CSV file.
fitness = pd.read_csv('daily_activity.csv', names=col_names)

# View the DataFrame.
fitness

In [ ]:
# Rename the index column to observation. (For illustration purposes only)
fitness.index.names = ['observation']

# View the DataFrame.
fitness

In [ ]:
# Create a hierarchical index.
col_names2 = ['I1', 'I2', 'c', 'd', 'e', 'f', 'g',
              'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o']

# Read the CSV file.
fitness = pd.read_csv('daily_activity.csv', names=col_names2,
index_col=['I1', 'I2'])

# View the DataFrame.
fitness

### 2.2 Pandas built-in functions

In [ ]:
import pandas as pd
fitness = pd.read_csv('daily_activity.csv')

# Using print(pd.shape):
fitness.head()
print(fitness.dtypes)
print(fitness.shape)

# Subsetting the DataFrame.

In [ ]:
# Using tolist:
my_list = fitness.columns.values.tolist()
print(my_list)

In [ ]:
# Using list(df)

list(fitness)

In [ ]:
# Adding a list:
my_list = list(fitness)

my_list

In [ ]:
# Selecting few columns.
fitness_fcol = pd.read_csv('daily_activity.csv', 
                            usecols=['Id', 'ActivityDate', 'TotalSteps'])

# Print the DataFrame with 7 rows.
fitness_fcol.head(7)

In [ ]:
# Selecting few columns.
fitness_nrow = pd.read_csv('daily_activity.csv', nrows=7)
# Print the DataFrame.

fitness_nrow

In [ ]:
# Shape of data frame.
print(fitness.shape)

# Skiprows parameter.
fitness_skiprows = pd.read_csv('daily_activity.csv', skiprows=500)

# Print the DataFrame.
print(fitness_skiprows.shape)

In [ ]:
# Only for demonstration.
# df= pd.read_csv(filename, skipfooter=1)

# df

In [ ]:
list(fitness)

In [ ]:
# Selecting few columns.
fitness_fcol = pd.read_csv('daily_activity.csv', 
                            usecols=['Id', 'ActivityDate', 'TotalSteps','TotalDistance', 'Calories'])

# Print the DataFrame with 7 rows.
fitness_fcol.head(7)

In [ ]:
# Selecting few columns.
fitness_fcol2 = pd.read_csv('daily_activity.csv', 
                            usecols=['Id', 'LoggedActivitiesDistance',
 'VeryActiveDistance',
 'ModeratelyActiveDistance',
 'LightActiveDistance',
 'SedentaryActiveDistance',
 'VeryActiveMinutes',
 'FairlyActiveMinutes',
 'LightlyActiveMinutes',
 'SedentaryMinutes'])

# Print the DataFrame with 7 rows.
fitness_fcol2.head(7)

In [ ]:
# Show first 15 rows calories
calories = pd.read_csv('daily_activity.csv', usecols=['Id', 'Calories'], nrows=15)

calories

# 2.2.2 Adding rows and columns

In [ ]:
# Import packages.
import pandas as pd

# Create dataframe for dr veldtman.
data = {'Name': ['Thando', 'Divya', 'Simon', 'Peter'],
        'Country': ['South Africa', 'Singapore', 'United Kingdom', 'Australia'],
        'Qualification': ['Phd', 'Diploma', 'BSc', 'MBA'],
        'Age': [29, 20, 25, 23]}

students = pd.DataFrame(data)

students

In [ ]:
# Re-order the columns.
students = pd.DataFrame(data, columns=['Name', 'Age', 'Qualification', 'Country', 'Test_1',
                                       'Tutorial_1', 'Test_2', 'Tutorial_2', 'Test_3', 'Tutorial_3', 'Final_Mark'])

students

In [ ]:
raw_data = {'Name': ['Noncedo', 'David', 'Eugene', 'Amaira', 'Monica', 'Richard'],
        'Age': [22, 23, 25, 24, 26, 22],
        'Qualification': ['Diploma', 'BCom', 'Diploma', 'MCom', 'Phd', 'BCom'], 
        'Country': ['Lesotho', 'United Kingdom', 'Australia', 'India', 'Poland', 'Germany']}

students_2 = pd.DataFrame(raw_data)

students_2

In [ ]:
# Add rows with concat.
students_concat = pd.concat([students, students_2], ignore_index=True)

students_concat

# Apply your learning

In [ ]:
import pandas as pd
fitnessc = pd.read_csv('daily_activity.csv')
fitnessc.head()

In [ ]:
# Prepare your workstation.
import pandas as pd

# Read CSV file from the current working directory.
fitness = pd.read_csv('daily_activity.csv')

# Column names of data set.
my_list = fitness.columns.values.tolist()

my_list

In [ ]:
# Add column cal_cat to calculate the middle number of calories.
fitness['cal_cat'] = fitness['Calories'] - fitness['Calories'].mean()

# Sense-check values of cal_cat column.
print(fitness['cal_cat'])

# Print to sense-check column was added.
print(fitness.head())

In [ ]:
# Sort column from low to high to determine. 
print(fitness['cal_cat'].sort_values())

# Determine min value (statistical method).
print(fitness['cal_cat'].min())

In [ ]:
# How many individuals per calory group.
fitness['cal_cat'].value_counts()

In [ ]:
fitness.describe()

### 2.3 Analysing data in Pandas

In [ ]:
import pandas as pd
class_list = pd.Series

In [ ]:
my_list = pd.Series(['A', 'B', 'C'], index=[1,2,3])

my_list

In [ ]:
print(my_list[1],my_list[2])

In [ ]:
print(my_list[[1,2,3]])

In [ ]:
# Importing Pandas package.
import pandas as pd

# Create series with explicit labelling.
class_list = pd.Series(['Thando', 'Divya', 'Simon',
                        'Peter', 'Noncedo', 'David',
                        'Eugene', 'Amaira', 'Monica', 'Richard'],
                       index=['2021/0562/3215', '2021/2136/2132',
                        '2021/0021/5987', '2021/3165/0468',
                        '2021/0132/5496', '2021/3698/1346',
                        '2021/0147/9632', '2021/6549/1324',
                        '2021/9513/3579', '2021/3491/7916'])

class_list

In [ ]:
# Determine the values.
print(class_list.values)

# Determine the index.
print(class_list.index)

#

In [ ]:
# Retrieve values with an index.
class_list['2021/2136/2132']

In [ ]:
# Separate with comma.
print(class_list['2021/2136/2132'], class_list ['2021/3165/0468'],
      class_list ['2021/3491/7916'])

In [ ]:
# Write as one code snippet.
print(class_list[['2021/2136/2132', '2021/3165/0468', '2021/3491/7916']])

In [ ]:
# Indexing dataframes

In [ ]:
# Create the data for the DataFrame.
raw_data = {'Name': ['Thando Sinuka', 'Divya Patterson',
                     'Simon De Wit', 'Peter Black',
                     'Noncedo Dlamini', 'David Ackerman',
                     'Eugene du Toit', 'Amaira Patteri',
                    'Monica Le Blanc', 'Richard Fortress'],
            'Age': [29, 26, 25, 23, 30, 35, 25, 27, 24, 32],
            'Qualification': ['PhD', 'MSc', 'MBA', 'BSc',
                              'MCom', 'BCom', 'PhD', 'MBA', 
                              'MCom', 'BCom'],
            'Country': ['South Africa', 'Singapore', 'United Kingdom',
                        'Australia', 'Lesotho', 'United Kingdom',
                        'Canada', 'India', 'France', 'Canada']}

# Specify the row_lables.
row_labels = ['2021/0562/3215', '2021/2136/2132',
              '2021/0021/5987', '2021/3165/0468',
              '2021/0132/5496', '2021/3698/1346',
              '2021/0147/9632', '2021/6549/1324',
              '2021/9513/3579', '2021/3491/7916']

# Specify the column names.
students_updated = pd.DataFrame (raw_data,
                                 columns = ['Name', 'Age', 'Qualification',
                                            'Country', 'Test 1', 'Tutorial 1',
                                            'Test 2', 'Tutorial 2', 'Test 3',
                                            'Tutorial 3', 'Final mark', 'Pass'],

                                 # specify index = row_labels
                                 index = row_labels)

students_updated

In [ ]:
# All students the same mark.
students_updated ['Test 1'] = 80

students_updated

In [ ]:
test_1 = ['82', '90', '75', '70', '88', '65', '72', '76', '85', '68']
students_updated ['Test 1'] = test_1

students_updated

In [ ]:
tutorial_1 = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]
students_updated ['Tutorial 1'] = test_1

students_updated

In [ ]:
# Option 1
print(students_updated [['Test 1', 'Tutorial 1']])

In [ ]:
# Option 2
print(students_updated.iloc[:, 4:6])

In [ ]:
# Retrieve row.
# Option 1
print(students_updated.loc['2021/2136/2132'])

In [ ]:
# Option 2
print(students_updated.iloc[1])
# print(Divya) would need Divya = students_updated.iloc[1].

# 2.3.3 Data mapping, filtering, and sorting

In [ ]:
# Prepare your workstation.
import pandas as pd

# Create the data for the DataFrame.
raw_data = {'Name': ['Thando Sinuka', 'Divya Patterson',
                     'Simon De Wit', 'Peter Black',
                     'Noncedo Dlamini', 'David Ackerman',
                     'Eugene du Toit', 'Amaira Patteri',
                     'Monica Le Blanc', 'Richard Fortress'],
            'Age':[29, 26, 25, 23, 30, 35, 25, 27, 24, 32],
            'Qualification': ['PhD', 'MSc', 'MBA', 'BSc',
                              'MCom', 'BCom', 'PhD', 'MBA', 
                              'MCom', 'BCom'],
            'Country': ['South Africa', 'Singapore', 'United Kingdom',
                        'Australia', 'Lesotho', 'United Kingdom',
                        'Canada', 'India', 'France', 'Canada']}

# Specify the row_lables.
row_labels = ['2021/0562/3215', '2021/2136/2132',
              '2021/0021/5987', '2021/3165/0468',
              '2021/0132/5496', '2021/3698/1346',
              '2021/0147/9632', '2021/6549/1324',
              '2021/9513/3579', '2021/3491/7916']

# Specify the column names.
students_updated = pd.DataFrame (raw_data,
                                 columns = ['Name', 'Age', 'Qualification',
                                            'Country', 'Test 1', 'Tutorial 1',
                                            'Test 2', 'Tutorial 2', 'Test 3',
                                            'Tutorial 3', 'Final mark', 'Pass'],

                                 # specify index = row_labels
                                 index = row_labels)


students_updated ['Test 1'] = [82, 90, 75, 70, 88, 65, 72, 76, 85, 68]
students_updated ['Tutorial 1'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

students_updated

In [ ]:
# Students tut 2 mark.
students_updated ['Tutorial 2'] = [80, 75, 79, 69, 82, 68, 90, 84, 83, 79]

students_updated

In [ ]:
# Map method on tut 2.
# Create new series.
tut_2 = {80:80, 75:75, 79:0, 69:74, 82:80,
         68:75, 90:80, 84:84, 83:81, 79:80}

# Add new series to current DataFrame.
students_updated['tut_2'] = students_updated ['Tutorial 2'].map(tut_2)

# Reorder columns.
students_updated = students_updated [['Name', 'Age', 'Qualification', 
                                     'Country', 'Test 1', 'Tutorial 1',
                                     'Test 2', 'Tutorial 2', 'tut_2', 
                                     'Test 3', 'Tutorial 3', 'Final mark',
                                     'Pass']]

students_updated

In [ ]:
# Create a class list with all the students. 
class_list = pd.Series(['Thando', 'Divya', 'Simon',
                  'Peter', 'Noncedo', 'David',
                  'Eugene', 'Amaira', 'Monica', 'Richard'],
            index=['2021/0562/3215', '2021/2136/2132',
                    '2021/0021/5987', '2021/3165/0468',
                  '2021/0132/5496', '2021/3698/1346',
                  '2021/0147/9632', '2021/6549/1324',
                    '2021/9513/3579', '2021/3491/7916'])

class_list

# Filter series.
class_list [class_list != 'Divya']

In [ ]:
my_list = pd.Series(['A', 'B', 'C'], index=[1,2,3])

# Filter series.
my_list [my_list != 'B']

In [ ]:
# Sort series.
class_list.sort_index()

In [ ]:
students_updated.sort_values(by=['Age','Name'], inplace=True)
students_updated

# Normalisation of data.

In [ ]:
import pandas as pd
fitness = pd.read_csv('daily_activity.csv')
fitness.head

In [ ]:
fitness.shape

In [ ]:
# Values of total distance before scaling.
fitness['TotalDistance']

In [ ]:
# Apply the maximum absolute scaling in Pandas using the .abs() and .max() methods.
def max_abs_scaling(df):
    # Copy the DataFrame.
    df_scaled = df.copy()
    if isinstance(df_scaled, pd.DataFrame):
        # Apply maximum absolute scaling.
        for column in df_scaled.columns:
            df_scaled[column] = df_scaled[column] / df_scaled[column].abs(
            ).max()
    else:
        df_scaled = df_scaled / df_scaled.abs().max()
        
    return df_scaled
    
# Call the maximum_absolute_scaling function.
fitness['TotalDistance'] = max_abs_scaling(fitness['TotalDistance'])

# Call the new values of the total distance column.
fitness['TotalDistance']

In [ ]:
# Values of sedentary minutes before.
fitness['SedentaryMinutes']

In [ ]:
# Apply the min-max scaling in Pandas using the .min() and .max() methods.
def min_max_scaling(df):
   # Copy the DataFrame.
    df_scaled = df.copy()
   # Apply min-max scaling.
    if isinstance(df_scaled, pd.DataFrame):
        for column in df_scaled.columns:
            df_scaled[column] = (df_scaled[column] - df_scaled[column].min()
                                ) / (df_scaled[column].max(
            ) - df_scaled[column].min())
    else:
        df_scaled = (df_scaled - df_scaled.min()) / (df_scaled.max(
        ) - df_scaled.min())
  
    return df_scaled

# Call the call the min_max_scaling function.
fitness['SedentaryMinutes_new'] = min_max_scaling(fitness['SedentaryMinutes'])

# Call the new values of the sedentary minutes column.
fitness['SedentaryMinutes_new']