### LSE Data Analytics Online Career Accelerator

# DA201: Data Analytics Using Python

## Week 3: Data wrangling with Pandas

The focus this week is on data ingestion and data wrangling. 

This is your notebook. You will use this notebook to follow along with the demonstrations throughout the week. Use it to test ideas, and explore what is possible. The hands-on experience of writing your own code will accelarate your learning!

Learn about using your Jupyter Notebook here: https://jupyter-notebook.readthedocs.io/en/latest/ui_components.html.

### 3.1 Wrangling data with Pandas

# Using the concat function.

In [ ]:
# Create a DataFrame for the car models.
# Import Pandas.
import pandas as pd

# Create the DataFrame.
cars = pd.DataFrame({'VW': ['Polo', 'T-Cross', 'Tiguan', 'Toureg'],
                     'Toyota': ['Agya', 'Corolla', 'Rav4', 'Land Cruiser'],
                     'Honda': ['Brio', 'Jazz', 'HRV', 'CRV'], 
                     'BMW': ['BMW1', 'BMW2', 'BMW3', 'BMW4']}, 
                    index=[0, 1, 2, 3])

# View the DataFrame.
cars

In [ ]:
# Create a DataFrame for the motorcycle models.
motorcycles = pd.DataFrame({'VW': ['-', '-', '-', '-'],
                            'Toyota': ['-', '-', '-', '-'],
                            'Honda': ['Shine', 'Activa', 'Comfort Travel',
                                      'Adventure Sport'],
                            'BMW': ['Sport', 'Roadster', 'Heritage', 'Adventure']},
                           index=[4, 5, 6, 7])

# View the DataFrame.
motorcycles

In [ ]:
vehicles = pd.concat((cars, motorcycles), ignore_index=True)

vehicles

In [ ]:
# Create cars_2 DataFrame.
cars_2 = pd.DataFrame({'VW': ['Polo', 'T-Cross', 'Tiguan', 'Toureg'],
                       'Toyota': ['Agya', 'Corolla', 'Rav4', 'Land Cruiser'],
                       'Honda': ['Brio', 'Jazz', 'HRV', 'CRV'], 
                       'BMW': ['BMW1', 'BMW2', 'BMW3', 'BMW4']},
                     index=['car1', 'car2', 'car3', 'car4'])


# Create motorcycles_2 DataFrame.
motorcycles_2 = pd.DataFrame({'VW': ['-', '-', '-', '-'],
                              'Toyota': ['-', '-', '-', '-'],
                              'Honda': ['Shine', 'Activa', 'Comfort Travel', 
                                        'Adventure Sport'],
                              'BMW': ['Sport', 'Roadster', 'Heritage', 'Adventure']},
                            index=['mcycle1', 'mcycle2', 'mcycle3', 'mcycle4'])


# Concatenate the two DataFrames.
products_2 = pd.concat([cars_2, motorcycles_2])

# View the DataFrame.
products_2

#

In [ ]:
import pandas as pd
class_a = pd.read_csv('classlist_a.csv')
class_b = pd.read_csv('classlist_b.csv')
class_c = pd.read_csv('classlist_c.csv')
class_d = pd.read_csv('classlist_d.csv')

my_classes = pd.concat([class_a, class_b, class_c, class_d])

my_classes

In [ ]:
my_classes_sorted = my_classes.sort_values(by='Surname')
my_classes_sorted

# Using the merge function.

In [ ]:
# Import Pandas. 
import pandas as pd

# Create a DataFrame.
cars_3 = pd.DataFrame({'VW': ['Polo', 'T-Cross', 'Tiguan', 'Toureg'],
                       'Toyota': ['Agya', 'Corolla', 'Rav4', 'Land Cruiser'],
                       'Honda': ['Brio', 'Jazz', 'HRV', 'CRV'], 
                       'BMW': ['BMW1', 'BMW2', 'BMW3', 'BMW4']}, 
                      index=[0, 1, 2, 3])

# View the DataFrame.
cars_3

In [ ]:
# Create a DataFrame.
motorcycles_3 = pd.DataFrame({'VW': ['-', '-', '-', '-'],
                              'Toyota': ['-', '-', '-', '-'],
                              'Honda': ['Shine', 'Activa',
                                        'Comfort Travel',
                                        'Adventure Sport'], 
                              'BMW': ['Sport', 'Roadster',
                                      'Heritage', 'Adventure']}, 
                             index=[0, 1, 2, 3])

# View the DataFrame.
motorcycles_3

In [ ]:
# Merge the DataFrames.
products_3 = pd.merge(cars_3, motorcycles_3)

# View the DataFrame.
products_3

In [ ]:
# Import Pandas.
import pandas as pd

# Import the CSV files.
classlist_a = pd.read_csv('classlist_a.csv')
classlist_b = pd.read_csv('classlist_b.csv')
classlist_c = pd.read_csv('classlist_c.csv')
classlist_d = pd.read_csv('classlist_d.csv')

# Concatenate classlists a and b; and c and d.
classlist_ab = pd.concat([classlist_a, classlist_b])
classlist_cd = pd.concat([classlist_c, classlist_d])

# View DataFrames.
print(classlist_ab.shape)
print(classlist_cd.shape)

In [ ]:
# Merge class lists ab and cd.
classlist_final = pd.merge(classlist_ab, classlist_cd, 
                           how='outer', on='Student number') 

# View the DataFrame.
print(classlist_final.shape)
classlist_final

In [ ]:
# Import Pandas.
import pandas as pd

# Read CSV files from the current working directory
classlist_a = pd.read_csv('classlist_a.csv')
classlist_b = pd.read_csv('classlist_b.csv')
classlist_c = pd.read_csv('classlist_c.csv')
classlist_d = pd.read_csv('classlist_d.csv')

# Print the shape of each DataFrame.
print(classlist_a.shape)
print(classlist_b.shape)
print(classlist_c.shape)
print(classlist_d.shape)

# Merge four DataFrames into one DataFrame.
classlist_final = pd.concat([classlist_a, classlist_b,
                             classlist_c, classlist_d]) 

# View the DataFrame.
classlist_final.shape

In [ ]:
# Create group 1.
group_surname = classlist_final.groupby('Surname')

# View the DataFrame.
group_surname

In [ ]:
group_marks = classlist_final.groupby('Final mark')

# View the DataFrame.
group_marks

In [ ]:
# Create group 3.
group_surname_marks = classlist_final.groupby(['Surname', 'Final mark'])

# View the DataFrame.
group_surname_marks

In [ ]:
# Create splitting within groups.
group_surname_marks.sum()

In [ ]:
# Use the size() function.
group_surname_marks.size()

In [ ]:
# The size() based on surname column.
group_surname.size()

In [ ]:
# Create a group based on initials.
group_initials = classlist_final.groupby('Initials')

# Create group_surname_initials based on columns Surname and Initials.
group_surname_initials = classlist_final.groupby(['Surname', 'Initials'])

# The size() based on Initials and Surname columns
group_surname_initials.size()

In [ ]:
# Use the count() function.
group_surname_initials.count()

# Reshaping, pivoting the dataset.

# 3.2 Pandas functions - map series, apply dataframes

# Map

In [ ]:
# Import pandas.
import pandas as pd

# Read the CSV files from the current working directory
classlist_a = pd.read_csv('classlist_a.csv')
classlist_b = pd.read_csv('classlist_b.csv')
classlist_c = pd.read_csv('classlist_c.csv')
classlist_d = pd.read_csv('classlist_d.csv')

# Concatentae the four class lists.
classlist = pd.concat([classlist_a, classlist_b, classlist_c, classlist_d])

# View the new DataFrame.
print(classlist.shape)
print(classlist.columns)
print(classlist.dtypes)

Prof. Minnaar needs to transform the class list according to the University's database. Therefore, she has two requests:

She wants the Class column to be changed from a string to an integer. For example, the A and E should be replaced with 1 and 0. 
The column Final mark needs to be renamed to Final_mark. 
You can use the map() function to address both requests.

In [ ]:
classlist['Class'] = classlist.astype(['Class'](int)

print(classlist.columns)

In [ ]:
# Import pandas.
import pandas as pd

# Read the CSV files from the current working directory
classlist_a = pd.read_csv('classlist_a.csv')
classlist_b = pd.read_csv('classlist_b.csv')
classlist_c = pd.read_csv('classlist_c.csv')
classlist_d = pd.read_csv('classlist_d.csv')

# Concatentae the four class lists.
classlist = pd.concat([classlist_a, classlist_b, classlist_c, classlist_d])

                                      
# View the new DataFrame.
print(classlist.shape)
print(classlist.columns)
print(classlist.dtypes)

In [ ]:
classlist.rename(columns = {'Final mark':'Final_mark'}, inplace=True)
# View the new DataFrame.
print(classlist.shape)
print(classlist.columns)
print(classlist.dtypes)

In [ ]:
# Use the map() function only on a Pandas Series.
classlist['Class_num'] = classlist.Class.map({'A':0, 'E':1})

# View the DataFrame.
print(classlist.shape)
classlist.head()

In [ ]:
# Compare columns Class and Class_num with the loc() function.
print(classlist.loc[:, ['Class', 'Class_num']])

# Compare columns Class and Class_num with the iloc() function.
classlist.iloc[:, 4:6]

In [ ]:
classlist

In [ ]:
print(classlist['Final_mark'].mean())

# apply

In [ ]:
## Previous code to prepare your workstation. ## apply for one column/series.
# Import Pandas.
import pandas as pd

# Import the CSV files.
classlist_a = pd.read_csv('classlist_a.csv')
classlist_b = pd.read_csv('classlist_b.csv')
classlist_c = pd.read_csv('classlist_c.csv')
classlist_d = pd.read_csv('classlist_d.csv')

# Concatenate classlists a and b; and c and d.
classlist_ab = pd.concat([classlist_a, classlist_b])
classlist_cd = pd.concat([classlist_c, classlist_d])

classlist_final = pd.concat([classlist_ab, classlist_cd])

# Use the apply() function applies a function to each element within a Series.
classlist_final['Surname_length'] = classlist_final.Surname.apply(len)

# View the DataFrame.
classlist_final.head()

In [ ]:
# Calculate average of final mark. Apply for dataframe.
import numpy as np
classlist_final[['Final mark']].apply(np.mean)

In [ ]:
classlist_final[['Final mark']].apply(np.min)

In [ ]:
classlist_final[['Final mark']].apply(np.max)

# Applymap

In [2]:
# Import Pandas.
import pandas as pd

# Import a CSV data set with a URL from a website.
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

# View the DataFrame.
print(drinks.shape)
print(drinks.dtypes)

(193, 6)
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [3]:
# Employ the applymap function to specified columns.
drinks_new = drinks.loc[:, 'beer_servings':'wine_servings'].applymap(float)

# View the data types.
drinks_new.dtypes

beer_servings      float64
spirit_servings    float64
wine_servings      float64
dtype: object

In [5]:
# Read the CSV file from the current working directory.
products = pd.read_csv('products.csv')

# View the DataFrame.
print(products.shape)
products.head()

(3945, 2)

  StockCode                  Description
0     10002   INFLATABLE POLITICAL GLOBE
1     10080     GROOVY CACTUS INFLATABLE
2     10120                 DOGGY RUBBER
3    10123C         HEARTS WRAPPING TAPE
4    10124A  SPOTS ON RED BOOKCOVER TAPE

In [13]:
# My basic solution. Must change to str. 
products['leng1'] = len(str(['Description']))
products.head()

  StockCode                  Description  leng1
0     10002   INFLATABLE POLITICAL GLOBE     15
1     10080     GROOVY CACTUS INFLATABLE     15
2     10120                 DOGGY RUBBER     15
3    10123C         HEARTS WRAPPING TAPE     15
4    10124A  SPOTS ON RED BOOKCOVER TAPE     15

In [11]:
# Read the CSV file from the current working directory.
products = pd.read_csv('products.csv')

# View the DataFrame.
print(products.shape)

# Determine the number of characters.
number_of_chars = products.applymap(len)\
.rename(columns={'StockCode': 'LenStockCode', 'Description': 'LenDescription'})

# View the output.
number_of_chars.head()

(3945, 2)

   LenStockCode  LenDescription
0             5              26
1             5              24
2             5              12
3             6              20
4             6              27

# USER DEFINED functions.

In [1]:
def calculator(a,b) :
    print('addition', a+b)
    print('subtraction', a-b)
    print('multiplication', a*b)
    print('division', a/b)
    return;
    
calculator(25, 5)

addition 30
subtraction 20
multiplication 125
division 5.0

In [ ]:
# Write an user-defined function.
def f(x):
    y = (x * 2) + 10
    return y

# Stipulate what to calculate.
f(x=3)

In [ ]:
# Write an user-defined function.
def ftb(x) :
    print(x * 2 + 10)
    return;
ftb(3)

In [ ]:

# Import Pandas.
import pandas as pd

# Read the CSV file from the current working directory.
products = pd.read_csv('products.csv')

# View the DataFrame.
products.shape

In [ ]:
# Create an user-defined function
def contains_glass(x):
    """ does the product contain glass? """
    y = x.lower()
    return "glass" in y

# View the output.
print(contains_glass(x="Glass bottle"))
print(contains_glass(x="glass bottle"))
print(contains_glass(x="bottle"))

In [ ]:
# Use the apply() function.
fc = products['Description'].apply(contains_glass)

# View the DataFrame.
print(fc)

# Filter the DataFrame.
products[fc]