# LSE Data Analytics Online Career Accelerator 

# DA201:  Data Analytics using Python

## Week 1: Introduction to Python programming!

The focus this week is on introducing, setting up, and exploring Python. You will use this notebook to follow along with the demonstrations throughout the week. If you are using Jupyter Notebook for the first time, please refer to the documentation to lear about the interface and how best to use your notebook. 

Learn about using your Jupyter Notebook here: https://jupyter-notebook.readthedocs.io/en/latest/ui_components.html

This is your notebook. Use it to follow along with the demonstrations, test ideas and explore what is possible. The hands-on experience of writing your own code will accelerate your learning!

### 1.1 Python for data analysis

There are no Jupyter Notebook demonstrations in this section.

#

### 1.2 Basics of Python programming

In [1]:
# Integer vs float data types.
value_a = 1299
value_b = 10.29

print(type(value_a))
print(type(value_b))

<class 'int'>
<class 'float'>

In [4]:
# String data type.
a = "This is a string value"
b = 'This is a string with single quotes'

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [5]:
# Boolean data type.
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [6]:
# Create a variable.
n = 300

# View the variable with the print() function.
print(n)

300

In [7]:
# Create three variables.Integer, float and string
var_a = 100 
var_b = 100.05 
name = 'Soni' 

print(var_a, var_b, name)

100 100.05 Soni

In [8]:
# Print a single variable.
print(var_a)
print(var_b)
print(name)

100
100.05
Soni

In [9]:
# Assign same value to multiple variables.
a = b = c = 50 

print(a)
print(b)
print(c)
print(a, b, c)

50
50
50
50 50 50

In [10]:
# Assign multiple values to multiple variables.
a, b, c = 50, 50, 50 

print(a)
print(b)
print(c)
print(a, b, c)

# Stipulate a single value.
a, b, c = 50

print(a, b, c)

50
50
50
50 50 50

TypeError: cannot unpack non-iterable int object

In [11]:
# Multiple variables with different values and data types.
a, b, c = 5, 50.25, "Python"

print(a, b, c)
print(a)
print(b)
print(c)

5 50.25 Python
5
50.25
Python

In [13]:
# View the list of keywords.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
#Apply knowledge, Question 1
a, b, c = "jedi","warrior",'saviour'
print(a,b,c)

jedi warrior saviour

In [16]:
# Question 1:
jedi = warrior = saviour = 'Luke Skywalker'

print(jedi)
print(warrior)
print(saviour)
print(jedi, warrior, saviour)

Luke Skywalker
Luke Skywalker
Luke Skywalker
Luke Skywalker Luke Skywalker Luke Skywalker

In [17]:
# Question 2: This time I used different spacing not sure of PEP?
a,b,c = "villain",'enemy','black'
print(a,b,c)

villain enemy black

In [19]:
# Question 2: 
a,b,c = "villain",'enemy','black'
a = b = c = 'Darth Vader'
print(a)
print(b)
print(c)
print(a,b,c)

Darth Vader
Darth Vader
Darth Vader
Darth Vader Darth Vader Darth Vader

#

In [1]:
# Create a list with all the pizza names.
pizza = ['Regina', 'Hawaiian', 'Mexican', 'Margarita', 'Marinara']

# Print all the pizza names.
for i in pizza:
    print(i)

Regina
Hawaiian
Mexican
Margarita
Marinara

In [2]:
""" This is the method of writing comments inside triple quotations.
Any lines between these triple quotations are treated as comments. """

' This is the method of writing comments inside triple quotations.\nAny lines between these triple quotations are treated as comments. '

In [3]:
# Operators - assignment, similar to arithmetic where print (a + b)
# Demonstrating the + operator.
a = 10
a += 5

print(a)

15

In [4]:
# Demonstrating the - operator.
a = 10
a -= 5
print(a)

5

In [35]:
# Demonstrating the // operator. Floor division ! division to integer.
a = 20
a //= 5

print(a)

4

In [40]:
# Demonstrating the % operator. Modulus ! changes value to what is left after division to integer.
a = 11
a %= 5

print(a)

1

In [46]:
# Demonstrating the 'or' operator.
a = 0
b = 2

if a > 0 or b > 0:
    print("Either number is greater than 0.")
    
else:
    print("No number is greater than 0.")

Either number is greater than 0.

In [52]:
# Demonstrating the 'not' operator.
x = 11

if not (x > 10):
    print('Yes')
else:
    print('No')

No

In [49]:
# Demonstrating the 'in' operator.
x = ['cat', 'dog']

print('mouse' in x)

False

In [50]:
# Demonstrating the 'not in' operator.
x = ['cat', 'dog']

print('Monkey' not in x)

True

In [53]:
# Define a function to welcome new members to the programme.
# No arguments in the parenthesis, include the colon.
def new_member():
    # The function code statement.
    print("Hello and welcome to the programme") 

# Call the function.
new_member()

Hello and welcome to the programme

In [54]:
# Define an output variable.
output = new_member()

# Check if the function returns a value.
output is None

Hello and welcome to the programme

True

In [55]:
# Assign the function output to a variable.
# Function must return explicitly. Return used instead of print.
def new_member(): 
    return "Hello and welcome to the programme"

# Define an output variable.
output = new_member()

# Check if the function returns a value.
output is None

False

In [57]:
# Example using f-string interpolation.
def new_member(name): 
    # Notice the "f".
    return f"Hello and welcome to the program, {name}!" 

# The print function allows you to easily preview the output.
print(new_member('Sarah'))

Hello and welcome to the program, Sarah!

In [59]:
# Example of adding two positional arguments.
def add_optional_bonus(a, b, c=0, d=0):
    return a + b + c + d

add_optional_bonus(5, 6)

9

In [60]:
# Rxample of adding two positional arguments and a keyword argument.
def add_optional_bonus(a, b, c=0, d=0):
    return a + b + c + d

# Include the keyword c
add_optional_bonus(5, 6, c=5)

16

In [68]:
# Returning multiple values
def membership_number(x):
    a = x + 1
    b = x + 2
    c = x + 3
    return a, b, c

# To show the membership numbers
x, y, z = membership_number(5) 

print(x, y, z)

6 7 8

In [69]:
# Using the * for a variable argument.
def workout_time(*reported):
    total_minutes = sum(reported) 
    if total_minutes < 60:
        return f"Total weekly workout time is {total_minutes} minutes."
    else: 
        return f"Total weekly workout time is {total_minutes/60} hours." 

# The function passes any number of minutes.
print(workout_time(10, 10, 20))

# The function passes any number of minutes.
print(workout_time(60, 60, 20, 40))

Total weekly workout time is 40 minutes.
Total weekly workout time is 3.0 hours.

In [73]:
# Practice with lists.
new_list = ['Python','Java','Ruby']
print (new_list)

['Python', 'Java', 'Ruby']

In [77]:
# List can also store different data types such as strings, integers, and float.
list_2 = ['cat', 12, 15.2]
print (list_2)

['cat', 12, 15.2]

In [82]:
# Example of a list with duplicates.
list_a = ['apple', 'banana', 5, 2, 5, 10.2, 8, 10.2, 'banana', 'apple']
print(list_a)

['apple', 'banana', 5, 2, 5, 10.2, 8, 10.2, 'banana', 'apple']

In [83]:
# Example of a list with duplicate items.
list_a = ['apple', 'banana', 5, 2, 10.2, 8.3, ['apple', 'banana', 5, 2, 10.2, 8.3]]

print(list_a)

['apple', 'banana', 5, 2, 10.2, 8.3, ['apple', 'banana', 5, 2, 10.2, 8.3]]

In [84]:
len(list_a)

7

In [90]:
# Create a list of planets.
list_planets = ['Mercury', 'Mars', 'Earth', 'Venus', 'Jupiter', 'Saturn', 'Uranus','Neptune','Pluto']
# print (list_planets)
len(list_planets)

9

In [96]:
# Remove Pluto
list_planets.pop(8)
print (list_planets)

IndexError: pop index out of range

In [103]:
print (list_planets)

['Mercury', 'Mars', 'Earth', 'Venus', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [104]:
# Measure lenght of the list.
len(list_planets)

9

In [102]:
# Add a new planet.
list_planets.append('Pluto')
#Then go back to line 103 and 104 and review changes.

In [117]:
print(list_planets)
print(len(list_planets))

['Mercury', 'Mars', 'Earth', 'Venus', 'New', 'New', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto', 'Pluto2', 'Pluto2', 'Pluto2']
14

In [116]:
# Use insert.
list_planets.insert(4,'New')

In [114]:
# Use extend.
pluto2 = ['Pluto2']
# Second list is appended.
list_planets.extend(pluto2)

In [125]:
# Use remove.
list_planets.remove('Pluto')

In [130]:
print(list_planets)
print(len(list_planets))

['Mercury', 'Mars', 'Earth', 'Venus', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
8

In [129]:
# Use pop.
list_planets.pop(4)

'New'

In [131]:
# Create 2 lists and add them.
fruit_1 = ['apple', 'strawberry', 'pear', 'raspberry']
fruit_2 = ['apricot', 'peach', 'fig', 'plum']

# Join the two lists with the + operator.
fruit = fruit_1 + fruit_2

print(fruit)
print(len(fruit))

['apple', 'strawberry', 'pear', 'raspberry', 'apricot', 'peach', 'fig', 'plum']
8

In [132]:
# Create a list.
veg = ['carrot', 'lettuce', 'spinach', 'pumpkin']

# Add another list with the extend operator.
# Notice the square brackets.
veg.extend(['onion', 'cabbage', 'broccoli', 'asparagus'])

print(veg)
print(len(veg))

['carrot', 'lettuce', 'spinach', 'pumpkin', 'onion', 'cabbage', 'broccoli', 'asparagus']
8

In [133]:
# Create a list.
colour = ['red', 'yellow', 'orange', 'pink']

# Add another list with the append.
# Notice the square brackets.
colour.append(['blue', 'green', 'black', 'purple'])

print(colour)
print(len(colour))

['red', 'yellow', 'orange', 'pink', ['blue', 'green', 'black', 'purple']]
5

In [136]:
# Use sort.
veg.sort()
print(veg)

['asparagus', 'broccoli', 'cabbage', 'carrot', 'lettuce', 'onion', 'pumpkin', 'spinach']

In [138]:
# Sort reverse.
veg.sort(reverse = True)
print(veg)

['spinach', 'pumpkin', 'onion', 'lettuce', 'carrot', 'cabbage', 'broccoli', 'asparagus']

In [139]:
# Print original list.
print(veg)

# Example of selecting a range of elements.
# Slicing with index position is inclusive of start index position.
# Slicing with index position is exclusive of the stop index position.
# In the example 2:6 the elements from index position 2 to 5 are included.
# Notice we are not using the print() function.

veg[2:6]

['spinach', 'pumpkin', 'onion', 'lettuce', 'carrot', 'cabbage', 'broccoli', 'asparagus']

['onion', 'lettuce', 'carrot', 'cabbage']

In [140]:
# Print original list.
print(veg)

# Example of selecting a range of elements and changing default step parameter.
# The syntax is: list name[start index : stop index : step size].
# Notice the empty values in the first two spaces? This will use the defaults.

veg[::2]

['spinach', 'pumpkin', 'onion', 'lettuce', 'carrot', 'cabbage', 'broccoli', 'asparagus']

['spinach', 'onion', 'carrot', 'broccoli']

In [141]:
# Print original list.
print(veg)

# Example of using a negative index.
# Pass -2 to reverse the list.

veg[::-2]

['spinach', 'pumpkin', 'onion', 'lettuce', 'carrot', 'cabbage', 'broccoli', 'asparagus']

['asparagus', 'cabbage', 'lettuce', 'pumpkin']

In [142]:
# Create a tuple.
tuple_1 = ('Python', 'Java', 'Ruby')

# Print tuple and count length.
print(tuple_1)
len(tuple_1)

('Python', 'Java', 'Ruby')

3

In [143]:
# Example of the tuple() constructor. 
# Notice the round brackets.
tup_1 = tuple(['Venus', 1, 'Mars']) 

tup_1

('Venus', 1, 'Mars')

In [144]:
# Create a tuple.
tuple_1 = ('Python', 'Java', 'Ruby')

# Example of indexing.
# Note: index position in Python starts at 0.
# Locate item at index position 1.
tuple_1[1]

print(tuple_1[1])

Java

In [145]:
# Example of nesting tuples within tuples.
nested_tup = (1, 2, 3, (4, 5, 6))

# Print the length of the nested tuple.
print(len(nested_tup))

# This will show item at index position 1.
print(nested_tup[1])

# This will show item at index position 3.
print(nested_tup[3])

4
2
(4, 5, 6)

In [147]:
# Example of the len() function.
# Start with a tuple .
planets = ('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 
          'Saturn', 'Uranus', 'Neptune')

# Measure the length of the tuple.
len(planets)

8

In [148]:
# Original tuples.
print(planets)
print(tuple_1)

# Example of using the + operator.
tuple_d = planets + tuple_1

# This will show the concatenated tuple.
print(tuple_d)
print(len(tuple_d))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('Python', 'Java', 'Ruby')
('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Python', 'Java', 'Ruby')
11

In [149]:
# Original tuple.
print(nested_tup)

# Example of using the * operator.
# This will make three copies of the tuple.
nested_tup * 3

(1, 2, 3, (4, 5, 6))

(1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6), 1, 2, 3, (4, 5, 6))

In [150]:
# Example of using max() and min().
a = (1, 13, 44, 23)

# This will show the highest value.
print(max(a))

# This will show the lowest value.
print(min(a))

44
1

In [ ]:
# Example of assigning values to objects.
celestial_objects = ('Earth', 'Saturn', 'Pluto')

# Notice the sequence.
planet, gas_giant, dwarf_planet = celestial_objects

# Each of these will output the corresponding object from the tuple.
print(planet)
print(gas_giant)
print(dwarf_planet)
print(dwarf_planet, gas_giant, planet)

In [151]:
# Example of modifying a list within a tuple.
tup = (1, 2, 'Pluto', [1, 2, 3])

# Identify the index position of the list and make the modification.
# Appending 4 to the list.
tup[3].append(4)

print(tup)
print(len(tup))

(1, 2, 'Pluto', [1, 2, 3, 4])
4

In [152]:
# Create a tuple with three different data types.
tup_1 = (1, 1.10, 5, 5.1, 6.8)

# View the tuple.
print(tup_1)

# View the length of the tuple.
print(len(tup_1))

# View the minimum value of the tuple.
print(min(tup_1))

# View the maximum value of the tuple.
print(max(tup_1))

# View the first value of the tuple.
# Index starts at 0
print(tup_1[0])

# View the middle value of the tuple.
print(tup_1[2])

(1, 1.1, 5, 5.1, 6.8)
5
1
6.8
1
5

## 1.2.11 Dictionaries

In [1]:
# Example of the dictionary data structure.
# Notice how each key has a value joined by:.
# Notice the curly brackets.
dict_1 = {'key1': 'Name',
         'key2': 'Age',
         'key3': 1964} 

print(dict_1)

{'key1': 'Name', 'key2': 'Age', 'key3': 1964}

In [ ]:
# Dictionary before edits.
print(dict_1)

# Add a new key value pair.
dict_1['key4'] = 'address'

print(dict_1)

In [4]:
# Example of the keys() method.
dict_1 = {'key1': 'Name', 'key2': 'Age', 'key3': 1964}

# Show keys only.
print(dict_1.keys())

# Show values only.
print(dict_1.values())

# Show entire dictionary.
print(dict_1)

dict_keys(['key1', 'key2', 'key3'])
dict_values(['Name', 'Age', 1964])
{'key1': 'Name', 'key2': 'Age', 'key3': 1964}

In [5]:
# Example of creating a dictionary from a sequence.
key_list = ['key1', 'key2', 'key3', 'key4', 'key5']
value_list = ['Apple', 'Fruit', 'Red', 'Juicy', 'Firm']

# View keys.
print(key_list)

# View values.
print(value_list)

# Creating new dictionary .
dict_3 = dict(zip(key_list, value_list))

# View dictionary.
print(dict_3)

['key1', 'key2', 'key3', 'key4', 'key5']
['Apple', 'Fruit', 'Red', 'Juicy', 'Firm']
{'key1': 'Apple', 'key2': 'Fruit', 'key3': 'Red', 'key4': 'Juicy', 'key5': 'Firm'}

   ## Sets

In [6]:
# Example of a set.
set1 = set([1, 2, 3, 4, 4, 2])

# View the set.
print(set1)

# View the data type.
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

## Control flow structures.

# 1.3 Python libraries and reproductibility of code

In [3]:
class Person:
    name = "Jane"
    age = 22

x = hasattr(Person, 'age')
print(x)

True

In [4]:
class Person:
    name = 'Jane'
    age = 22

x = getattr(Person, 'age')
print(x)

22

In [5]:
class Person:
    name = 'Jane'
    age = 22

setattr(Person, 'age', 32)

x = getattr(Person, 'age')

print(x)

32

In [ ]:
class Person:
    name = 'Jane'
    age = 32

delattr(Person, 'age')

x = getattr(Person, 'age')
print(x)
# This will result in an error as there is no 'age' attribute.

In [6]:
class Person:
    def __init__(self, name, age, language):
        self.name = name
        self.age = age
        self.language = language
    def introduce(self):
         print(f"Hello my name is {self.name} and I\'m {self.age} years old and I speak {self.language}.")

class Student(Person):
    pass

person_object = Student('James', '30', 'English')
person_object.introduce()

Hello my name is James and I'm 30 years old and I speak English.

In [9]:
class Weather:
    def __init__(self, temp, windspeed, wind):
        self.temp = temp
        self.windspeed = windspeed
        self.wind = wind
    def introduce(self):
         print(f"Hello, today the temperature is {self.temp} and there is a {self.windspeed} from the {self.wind}.")

Weather_object = Weather('30 degrees Celsius', '30 km/h', 'SSE')
Weather_object.introduce()

Hello, today the temperature is 30 degrees Celsius and there is a 30 km/h from the SSE.

In [10]:
# Printing a specific date.
import datetime
d = datetime.date(2021, 6, 10)

print(d)
print(type(d))

2021-06-10
<class 'datetime.date'>

In [12]:
x = datetime.datetime.now()
print(x)

2022-09-19 12:57:34.960844

In [1]:
# Printing current year, month and day.
from datetime import date
#date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2022
Current month: 9
Current day: 21

In [14]:
# Import module.
from datetime import time

# Creating a time object.
# time(hour, minute, second, microsecond). 
t = time(6, 45, 25, 234566) 

print("time =",t)

time = 06:45:25.234566

In [15]:
from datetime import datetime, date 
# You can import more than one class or object at a time from a module.

t1 = datetime(year=2021, month=12, day=15, hour=5, minute=45, second=25)
t2 = datetime(year=2019, month=10, day=28, hour=12, minute=55, second=13)
t3 = t1 - t2
print("time difference =", t3)
print("type of t3 =", type(t3))

time difference = 778 days, 16:50:12
type of t3 = <class 'datetime.timedelta'>